<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nhibernateSettings" type="ProjectBase.Data.OpenSessionInViewSection, ProjectBase.Data"/>
    <section name="syscache" type="NHibernate.Caches.SysCache.SysCacheSectionHandler,NHibernate.Caches.SysCache"/>
    <section name="log4net"
      type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ProjectBase.Utils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>

  </configSections>

    <connectionStrings>
      <clear />
        <add name="testDatabase" connectionString="Data Source=sql.nybblenetwork.com;Initial Catalog=GrundFos_PriceManagerAdv_UT;User ID=grundfos;Password=grundfos;Connection Timeout=900;" providerName="System.Data.SqlClient" />
        <add name="LocalSqlServer" connectionString="data source=sql.nybblenetwork.com;User ID=nybble;Password=nybble;database=Nybble_Membership_QA;Connection Timeout=600"/>
    </connectionStrings>

  <nhibernateSettings>
    <sessionFactories>
      <clearFactories/>
      <sessionFactory name="grundfos" isTransactional="true" factoryConfigPath="..\..\WebNHibernate.config" />
      <sessionFactory name="scala" isTransactional="false" factoryConfigPath="..\..\ScalaNHibernate.config" />
      <sessionFactory name="membership" isTransactional="true"  factoryConfigPath="..\..\WebNHibernateMembership.config" />
    </sessionFactories>
  </nhibernateSettings>

  <system.net>
    <mailSettings>
      <smtp from="pricemanager@nybblegroup.com">
        <network host="192.168.1.12" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>

  <log4net>
    <appender name="rollingFile"
        type="log4net.Appender.FileAppender,log4net" >
      <param name="File" value="log.txt" />
      <param name="AppendToFile" value="true" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%d %p %m%n" />
      </layout>
    </appender>
    <logger name="NHibernate">
      <level value="DEBUG" />
      <appender-ref ref="rollingFile" />
    </logger>
  </log4net>

  <appSettings>
    <add key="MailTemplatePath" value="..\..\res\mail\" />
    <add key="SiteUrl" value="http://www.google.com" />
  </appSettings>

  <applicationSettings>
    <ProjectBase.Utils.Properties.Settings>
      <setting name="ProjectBase_Utils_MailSender_Mail" serializeAs="String">
        <value>http://mailsender.nybble.app.nybble-ar.com/Mail.asmx</value>
      </setting>
    </ProjectBase.Utils.Properties.Settings>
  </applicationSettings>

  <system.web>
    <membership defaultProvider="AspNetSqlMembershipProvider" userIsOnlineTimeWindow="30">
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="LocalSqlServer"  enablePasswordRetrieval="false" enablePasswordReset="true" applicationName="PriceManager"  requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" passwordStrengthRegularExpression="" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>
    
  </system.web>
  
</configuration>