<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="LocalSqlServer" connectionString="data source=dbserver;User ID=grundfos;Password=grundfos;database=Grundfos_StockViewer;Connect Timeout=600"/>
	</connectionStrings>
	<appSettings>
		<add key="TimerElapsed" value="900000" />
    <add key="SupportEmail" value="sebastian.real@nybblegroup.com"/>
    <add key="ServerPath" value="C:\despiece\" />
	</appSettings>

  <system.net>
    <mailSettings>
      <smtp from="donotreply@nybblegroup.com">
        <network host="192.168.1.12" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>