<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="stockProvider" type="PartnerNet.Providers.Stock.StockProviderConfiguration, PartnerNet.Providers" allowDefinition="MachineToApplication"/>
		<section name="nhibernateSettings" type="ProjectBase.Data.OpenSessionInViewSection, ProjectBase.Data"/>
	</configSections>

	<appSettings>
		<add key="TimeSlice" value="5000"/>
		<add key="RunDate" value="02/22/2008"/>
	</appSettings>

	<stockProvider defaultProvider="scalaStockProvider">
		<providers>
			<clear/>
			<add name="scalaStockProvider" type="Grundfos.ScalaConnector.Providers.ScalaStockProvider, Grundfos.ScalaConnector" sessionFactoryName="scala"/>
		</providers>
	</stockProvider>

	<connectionStrings>
		<clear/>
		<add name="LocalSqlServer" connectionString="data source=sql.nybblenetwork.com;User ID=grundfos;Password=grundfos;database=Grundfos_StockForecast"/>
	</connectionStrings>

	<nhibernateSettings>
		<sessionFactories>
			<clearFactories/>
			<sessionFactory name="grundfos" factoryConfigPath="../WebNHibernate.config" isTransactional="true"/>
			<sessionFactory name="scala" factoryConfigPath="../ScalaNHibernate.config" isTransactional="true"/>
		</sessionFactories>
	</nhibernateSettings>

	<system.net>
		<mailSettings>
			<smtp from="controlstock@nybblegroup.com">
				<network host="192.168.1.10" port="25"/>
			</smtp>
		</mailSettings>
	</system.net>

</configuration>